.add {
  font-size: 24px;
  left: 45%;
  top: 55%
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

.row {
  display: inline-flex;
}

a {
  cursor: pointer;
  margin-inline-start: 22.5%
}

.card-content {
  cursor: pointer;
}

.row {
  width: 25%;
}