<form [formGroup]="petForm">

  <div class="row">
    <div class="input-field col s6">
      <label for="name">Name</label>
      <input id="name" type="text" class="validate" formControlName="Name">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <label for="type">Type</label>
      <input id="type" type="text" class="validate" formControlName="Type">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <label for="bdate">Birth date</label>
      <input id="bdate" mz-datepicker type="date" formControlName="Birthdate">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <label for="sdate">Sold date</label>
      <input id="sdate" mz-datepicker type="date" formControlName="SoldDate">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <select mz-select id="owner" [placeholder]="'Owner'" formControlName="PreviousOwner">
        <option *ngFor="let owner of owners" [ngValue]="owner.id">{{owner.firstName}} {{owner.lastName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <label for="color">Color</label>
      <input id="color" type="text" class="validate" formControlName="Color">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <label for="price">Price</label>
      <input id="price" type="number" class="validate" formControlName="Price">
    </div>
  </div>

</form>

<div class="container">
    <button (click)="save()" class="btn waves-effect waves-light">Save</button>
</div>
<div class="container">
  <button routerLink="/pets" class="btn waves-effect waves-light grey darken-1">Back</button>
</div>