h2 {
    margin-top: 0;
    text-align: left
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px
}

.container {
    width: 45%;
    min-width: 600px;
    margin-top: 10%;
    text-align: center
}

.list {
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
}